body {
    background-color: #53ac59;

}

.container {
    box-sizing: border-box;
    max-width: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 1em;
}

.questions{
    width: 100%;
}
#quest{
    border: 1px solid white;
    width: 22%;
    height: 195px;
    border-radius: 10px;
    margin-left: 40%;
}
h1{
    margin-left: 35%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    text-align: center;
    color: rgb(73, 71, 158);
    font-size: 2em;
}

.conteudo{
    background-color: rgb(169, 164, 164);
    margin: 1.5em 0;
    box-shadow: 3px 3px 3px rgba(153, 154, 225, 0.3);
    text-align: center;
}
#capTitle, #caplat, #caplong{
    margin-left: 2%;
    height: 35px;
    width: 270px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 1px;
    border-style: none;
    border-left: 4px solid #398d2b;
    font-family: 'Courier New', Courier, monospace;

}
#capTitle{
    margin-top: 10px;
}


#btnCapturar, #btnLista{
    margin-top: 3px;
    margin-left: 6%;
    height: 30px;
    width: 256px;
    border-radius: 10px;
    border-style: none;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: #3b8952;
    font-family: 'Courier New', Courier, monospace;

}
.conteudoLocalizacao{
    font-size: 1.5em;
}

.rodape{
    text-align: center;
    border-radius: 5%;
}

.cabecalhoConteudo{
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
}

#textores{
    text-align: center;
}

.botao{
    background-color: rgba(69, 71, 163, 0.3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

#mapa{
    margin-bottom: 5%;
    width: 100%;
}

.gmap_canvas{
    margin-top: 30px;
    margin-left: 65%;
    width: 100%;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 400px;
  }

  .gmap_iframe {
    width: 600px !important;
    height: 400px !important;
  }
  .card{
    margin-top: 15px;
    border: 1px solid white;
    width: 25%;
    border-radius: 10px;
    border-left: 4px solid white;
    background-color: #3b8952;
    margin-left: 20px;

  }
#carditem{  
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}